#login-screen {
  max-width: 678px;
  --bs-secondary-emphasis-rgb: 167, 172, 177;
}
#login-screen #landing {
  min-height: 88vh;
  z-index: 1;
}
#login-screen .btn:not(.btn-link) {
  background-color: #663399;
  color: white;
}
#login-screen a,
#login-screen .btn-link {
    color: #aaa;
}
#login-screen a:not(:hover),
#login-screen .btn-link:not(:hover) {
  text-decoration: none;
}
#login-screen a.emphasis,
#login-screen .btn-link.emphasis {
  color: #ccb0ff;
}
#login-screen small,
#login-screen .small {
  font-size: calc(6px + 0.75vmin);
  color: rgba(255, 255, 255, 0.42);
}

#login-screen .link-secondary  {
  text-shadow: 0 3px 5px var(--bg-primary);
}
#login-screen .link-secondary:hover,
#login-screen .link-secondary:focus {
  color: rgba(var(--bs-secondary-emphasis-rgb), var(--bs-link-opacity, 1))!important;
}

#login-screen .checkmark-display::after {
  content: '\2713';
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  padding-left: 0.25rem;
  color: white;
  font-weight: bold;
  animation: 4.5s ease-in 0.015s scale;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes scale {
  0% {
      transform: translate(0px, 50%);
      opacity: 0;
  }
  10% {
      transform: translate(0px, 0%);
      opacity: 1;
  }
  88% {
      transform: translate(0px, 0%);
      opacity: 1;
  }
  100% {
      transform: none;
      opacity: 0;
  }
}

#modal-confirm-clear-localstorage-data {
  max-width: 432px;
}
