 /* equivalent styles for the following classNames:
    smaller, text-black, align-text-bottom  */
#modal-changelog .badge-new {
  font-size: 11px;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
  vertical-align: text-bottom !important;
}
