#login-screen .btn:not(.btn-link) {
  background-color: #663399;
  color: white;
}
#login-screen a {
    color: #aaa;
}
#login-screen a:not(:hover) {
  text-decoration: none;
}
#login-screen a.emphasis {
  color: #ccb0ff;
}
#login-screen small {
    font-size: calc(6px + 0.75vmin);
    color: rgba(255, 255, 255, 0.42);
}

.checkmark-display::after {
  content: '\2713';
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  padding-left: 0.25rem;
  color: white;
  font-weight: bold;
  animation: 4.5s ease-in 0.015s scale;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes scale {
  0% {
      transform: translate(0px, 50%);
      opacity: 0;
  }
  10% {
      transform: translate(0px, 0%);
      opacity: 1;
  }
  88% {
      transform: translate(0px, 0%);
      opacity: 1;
  }
  100% {
      transform: none;
      opacity: 0;
  }
}


.row-info > .col {
  max-width: 350px;
}
@media (min-width: 767.98px) {
  .row-info > .col h1 {
    font-size: 36px!important;
  }
}

/* courtesy of tholman/github-corners */
.github-corner:hover .octo-arm { animation: octocat-wave 560ms ease-in-out; }
@keyframes octocat-wave {
  0%,100% { transform: rotate(0); }
  20%,60% { transform: rotate(-25deg); }
  40%,80% { transform: rotate(10deg); }
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm { animation: none; }
  .github-corner .octo-arm { animation: octocat-wave 560ms ease-in-out; }
}
