#modal-command-list .chat-command-list {
  color: var(--bs-secondary-text-emphasis)!important;
}

#modal-command-list .chat-command {
  font-family: var(--bs-font-monospace) !important;
  color: var(--bs-emphasis-color) !important;
  font-style: italic;
}
