.landing {
  background-color: transparent;
  background-image: linear-gradient(
    0deg,
    rgba(12, 10, 86,1) 0%,
    rgba(var(--purple-rgb-90), 0.3) 50%
  );
  background-size: 100vw 88vh;
  background-position: top center;
  background-repeat: repeat-x;
}

.landing a {
  color: #aaa;
}
.landing a:not(:hover) {
  text-decoration: none;
}
.landing a.emphasis {
  color: #ccb0ff;
}
.landing small {
  font-size: calc(6px + 0.75vmin);
  color: rgba(255, 255, 255, 0.42);
}


.landing .landing-wave-wrapper {
  position: relative;
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
}


/* courtesy of tholman/github-corners */
.github-corner:hover .octo-arm { animation: octocat-wave 560ms ease-in-out; }
@keyframes octocat-wave {
  0%,100% { transform: rotate(0); }
  20%,60% { transform: rotate(-25deg); }
  40%,80% { transform: rotate(10deg); }
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm { animation: none; }
  .github-corner .octo-arm { animation: octocat-wave 560ms ease-in-out; }
}
