#sidebar {
    margin-left: 12px;
    text-transform: capitalize;
    width: 33%;
}
#sidebar.game {
    width: 33%;
}
#sidebar.seat {
    width: 20%;
}
#sidebar .card {
    background-color: darkslategrey;
}
#sidebar .next-game-party-pack {
    font-size: 11px;
    font-weight: 400;
    margin-top: 0px;
    color: lightgray;
}
#sidebar .sidebar-panel .card-title {
    position: relative;
}
#sidebar .sidebar-panel .card-title .cancel-game{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 24px;
    width: 24px;
    background-color: tomato;
    color: white;
    font-size: 11px;
    font-weight: bolder;
    border-radius: 1rem;
    display: none;
}
#sidebar .sidebar-panel .card-title:hover .cancel-game {
    display: inline;
}
#sidebar .sidebar-panel .card-title .cancel-game:hover {
    display: inline;
    background-color: red;
}
button#sidebar-up-next {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
    width: 90%;
}
button#sidebar-up-next:disabled {
    color: gray;
    font-weight: inherit;
    font-style: italic;
}

#sidebar .nav-wrapper {
    display: flex;
    justify-content: space-between;
}
#sidebar .nav-wrapper button {
    background-color: darkcyan;
    border-radius: 5px;
    margin-top: 0;
    width: 50%;
    margin-bottom: 20px;
}
#sidebar .nav-wrapper button.move-next-game-back {
    margin-right: 5px;
}
#sidebar .nav-wrapper button.move-next-game-fwd {
    margin-left: 5px;
}

#sidebar .sidebar-history-list-panel li {
    line-height: 1.25;
    font-size: 13px;
    list-style: none;
}
#sidebar .sidebar-history-list-panel li b {
    color: aquamarine;
    font-size: 14px;
}
