/* variables */
:root{
  --text-primary: #fff;
  --bg-primary: #212529;
  --bg-secondary: #13111c;

  /* component override examples */
  --todo-text-primary: #fff!important;
  --todo-bg-form-rgb: 153, 102, 204!important;
  --todo-bg-item-rgb: 102, 153, 204!important;
  --todo-bg-alpha: 0.35!important;
}

/* reset */
* {
  box-sizing: border-box;
}
body, p, ul, li {
  margin: 0;
  padding: 0;
}

/* base styles */
body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}
.h1, .h2, .h3, .h4, .h5, .h6,
h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
button {
  cursor: pointer;
}

.Demo {
  text-align: center;
}

.Demo-header {
  background-color: var(--bg-primary);
  font-size: calc(10px + 1vmin);
  color: var(--text-primary);
  padding: 1rem;
}
.Demo-header:after {
  content: "";
  display: table;
  clear: both;
}


.Demo-subheader {
  font-size: calc(10px + 1.25vmin);
  border-bottom: 1px solid #495057;
  color: #dee2e6;
  font-size: 16px;
  text-align: left;
  padding-bottom: 0.5rem;
}

.Demo-logo + .h2 {
  display: inline-block;
  font-size: calc(10px + 1.5vmin);
  line-height: 5vmin;
  vertical-align: top;
  padding-right: 2vmin;
  margin: 0;
  font-weight: bold;
}

.Demo-link,
.Demo-link:visited {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

.Demo-examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.Demo-examples > div {
  display: grid;
  align-items: flex-start;
  justify-content: space-evenly;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.Demo-example {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  width: 80vw;
  box-sizing: border-box;
  box-shadow: 0px 0px 16px rgba(40,97,230, 0.2);
  background-color: rgb(33, 37, 41, 0.8);
  border: 1px solid rgb(40, 97, 230, 0.8);
  padding: calc(0.5rem + 0.5vmin);
  border-radius: 0.5rem;
  padding: 1rem;
}

@media (min-width: 960px) {
  .Demo-examples > div {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
  }
  .Demo-example {
    height: 100%;
    width: 100%;
  }
}
