/* variables */
:root{
  --text-primary: #fff;
  --bg-primary: #212529;
  --bg-secondary: #13111c;

  /* component override examples */
  --todo-text-primary: #fff!important;
  --todo-bg-form-rgb: 153, 102, 204!important;
  --todo-bg-item-rgb: 102, 153, 204!important;
  --todo-bg-alpha: 0.35!important;
}

.Demo .shadow {
  --bs-box-shadow: 0px 0px 16px rgba(40, 97, 230, 0.25)!important;
}
