.landing-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88vh;
  z-index: 0;
}
.landing-wave, .landing-wave * {
  margin: 0;
  padding: 0;
}
.landing-wave > section {
  position: relative;
  width: 100%;
  height: 88vh;
  background-image: linear-gradient(
    0deg,
    rgba(var(--bg-primary-rgb), 1) 0%,
    rgba(var(--purple-rgb-90), 0.2) 100%
  );
  background-size: 100vw 88vh;
  background-position: top center;
  background-repeat: repeat-x;
  overflow: hidden;
}
.landing-wave > section .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background: url(landing-wave.svg);
  background-size: 1000px 100px;
}
.landing-wave > section .wave.wave1{
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.landing-wave > section .wave.wave2{
  animation: wave2 15s linear infinite;
  z-index: 99;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.landing-wave > section .wave.wave3{
  animation: wave 30s linear infinite;
  z-index: 98;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.landing-wave > section .wave.wave4{
  animation: wave2 5s linear infinite;
  z-index: 97;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave{
  0%{ background-position-x: 0px; }
  100% { background-position-x: 1000px; }
}
@keyframes wave2{
  0%{ background-position-x: 0px; }
  100% { background-position-x: -1000px; }
}
