nav .navbar-pfp-img {
  height: 28px;
  width: 28px;
}
nav .navbar-pfp-img.proxy-profile-img {
  height: 19px;
  width: 19px;
  position: absolute;
  margin-top: 16px;
  margin-left: 16px;
  border: 1px solid var(--purple-30);
  /* box-shadow: 0px 0px 5px var(--purple-10)!important; */
}

#dropdown-moderated-channels .dropdown-item {
  font-size: 14px!important;
  font-weight: 500!important;
}

#dropdown-moderated-channels .dropdown-menu-dark {
  --bs-dropdown-link-active-bg: var(--bs-secondary-bg-subtle)!important;
}


#navbar-options-menu .offcanvas-body {
  padding-left: calc(var(--bs-offcanvas-padding-x) * 1.75);
}
#navbar-options-menu .accordion-body {
  padding: calc(var(--bs-accordion-body-padding-y) / 3) calc(var(--bs-accordion-body-padding-x) / 2);
}
#navbar-options-menu .accordion .btn {
  display: block;
  text-align: left !important;
  /* font-size: calc(1.275rem + 0.3vw) !important; */
  font-weight: 500 !important;
  opacity:0.8;
  transition: opacity 0.125s linear;
  padding-left: 0;
  padding-right: 0;
}
#navbar-options-menu .accordion .btn:hover {
  opacity:1;
}
#navbar-options-menu .accordion .btn:disabled {
  opacity: 0.2;
}
#navbar-options-menu .accordion .btn.subsetting::before {
  content: '\2514';
  margin-left: -5px;
  margin-right: 1px;
  /* content: '\231E'; */
  display: inline-block;
  color: #555;
}

#navbar-options-menu .btn-link,
#navbar-options-menu .btn-link:hover {
  color:#ffffff!important;
  text-decoration: none;
}
#navbar-options-menu small {
  font-weight: 400;
  font-size: 0.75em
}
#dropdown-debug-menu-items.dropup .dropdown-toggle::after {
  content: unset;
}

.settings-menu input::placeholder {
  font-style: italic;
}
.settings-menu input.form-control {
  background-color: var(--bs-secondary-bg-subtle)!important;
  color: var(--bs-gray-200)!important;
}
.settings-menu input.form-control:active,
.settings-menu input.form-control:focus,
.settings-menu input.form-control:focus-within,
.settings-menu input.form-control:target {
  color: var(--bs-emphasis-color)!important;
}

