.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-subheader {
  font-size: calc(10px + 1.5vmin);
}

.App-subheader + div {
  border: 1px solid #999;
  padding: calc(0.5rem + 0.5vmin)
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
}
.container .col50 {
  width: 48%;
  padding: 1%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container .col50 {
    width: 100%;
  }
}
