/* variables */
:root{
  --text-primary: #fff;
  --bg-primary: #212529;
  --bg-secondary: #13111c;

  /* component override examples */
  --todo-text-primary: #fff!important;
  --todo-bg-form-rgb: 153, 102, 204!important;
  --todo-bg-item-rgb: 102, 153, 204!important;
  --todo-bg-alpha: 0.35!important;

  --purple-0: #f6f2ff;
  --purple-10: #e2d4ff;
  --purple-20: #ccb0ff;
  --purple-30: #b68cff;
  --purple-40: #a269ff;
  --purple-50: #9146ff;
  --purple-60: #8331f5;
  --purple-70: #721de0;
  --purple-75: #6f42c1;
  --purple-80: #5e0cc2;
  --purple-90: #470099;

  --purple-rgb-0: 246, 242, 255;
  --purple-rgb-10: 226, 212, 255;
  --purple-rgb-20: 204, 176, 255;
  --purple-rgb-30: 182, 140, 255;
  --purple-rgb-40: 162, 105, 255;
  --purple-rgb-50: 145, 70, 255;
  --purple-rgb-60: 131, 49, 245;
  --purple-rgb-70: 114, 29, 224;
  --purple-rgb-75: 111, 66, 193;
  --purple-rgb-80: 94, 12, 194;
  --purple-rgb-90: 71, 0, 153;

  --scrollbar-bkgd: var(--bg-secondary);
  --scrollbar-thumb: var(--bs-secondary-text-emphasis);
  --scrollbar-thumb-active: var(--bs-secondary);

  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bkgd);
}

::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: var(--scrollbar-bkgd);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: var(--scrollbar-thumb);
  border: 3px solid var(--scrollbar-bkgd);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-active);
}

.text-purple-0 {color: var(--purple-0);}
.text-purple-1 {color: var(--purple-10);}
.text-purple-2 {color: var(--purple-20);}
.text-purple-3 {color: var(--purple-30);}
.text-purple-4 {color: var(--purple-40);}
.text-purple-5 {color: var(--purple-50);}
.text-purple-6 {color: var(--purple-60);}
.text-purple-7 {color: var(--purple-70);}
.text-purple-8 {color: var(--purple-80);}
.text-purple-9 {color: var(--purple-90);}




/* reset */
* {
  box-sizing: border-box;
}
body, p, ul, li {
  margin: 0;
  padding: 0;
}

/* base styles */
body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.ls-1 {
  letter-spacing: 0.025rem;
}
.ls-2 {
  letter-spacing: 0.05rem;
}

.full-pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}
.fade-in {
  opacity: 0;
  animation: 0.25s linear 0s fadein;
  animation-fill-mode: forwards;
}
.fade-in-delay {
  opacity: 0;
  animation: 0.25s linear 0.75s fadein;
  animation-fill-mode: forwards;
}
.fade-out {
  opacity: 0;
  animation: 0.25s linear 0s fadein;
  animation-fill-mode: backwards;
}
@keyframes fadein {
  from    { opacity:0; }
  to      { opacity:1; }
}


.btn-purple:not(.btn-link) {
  background-color: #663399;
  color: white;
}


/* App */

.App-header {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-rock infinite alternate 3s ease-in-out;
  }
}

.App-link,
.App-link:visited {
  color: #61dafb;
}

@keyframes App-logo-rock {
  from {transform: rotate(5deg);}
  to {transform: rotate(-5deg);}
}




.navbar-toggler.no-dropdown-split::after {
  display: none;
}
.smaller {
  font-size: 11px;
}


.last-updated {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ttv-link,
.ttv-link:visited {
  color: #b68cff;
  text-decoration:none;
}
.ttv-link:hover {
  text-decoration: underline;
}

.bg-purple {
  background-color: #6f42c1;
}

.btn-icon {
  --bs-btn-padding-y: 0;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 1.5rem;
  --bs-btn-line-height: 1;
}
.btn-base {
  --bs-btn-padding-y: 0;
  --bs-btn-padding-x: 0;
  --bs-btn-font-size: inherit;
  --bs-btn-line-height: inherit;
}

.btn-icon [class^="bi-"] .badge {
  --bs-badge-padding-x: 0.3rem;
  --bs-badge-padding-y: 0.3rem;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
}
.btn-icon [class^="bi-"] .badge:has( [class^="bi-"] ) {
  --bs-badge-font-size: 0.75rem!important;
}


/* styles for when viewed in narrow OBS panel */
@media (max-width: 447.98px) {
  html {font-size: 62.5%;}
  .smaller {font-size: 7px;}
}
@media (max-width: 319.98px) {
  html {font-size: 50%;}
  .smaller {font-size: 6px;}
}
