body {
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.libre-franklin {
  font-family: "Libre Franklin", sans-serif!important;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.saira-condensed {
  font-family: "Saira Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
}
