@import "bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue',-apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
