
.toggle-streamer-seat {
    display: flex;
    align-items: center;
}
.toggle-streamer-seat .toggle-label {
    font-size: 0.75rem;
    max-width: 80px;
    overflow-wrap: break-word;
    text-align: right;
}
.toggle-streamer-seat .form-switch {
    margin-left: 8px;
    padding-left: 3em;
}
.toggle-streamer-seat .form-switch .form-check-input {
    height: 1.6em;
    width: 3em;
    margin-left: -3em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 3em;
    transition: background-position 0.15s ease-in-out;
    background-color: #f87171;
    border-color: #f87171;
}
.toggle-streamer-seat .form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' stroke='%2386b7fe' stroke-width='0.5' fill='%23fdd'/%3e%3c/svg%3e");
}
.toggle-streamer-seat .form-check-input:checked {
    background-color: #34d399;
    border-color: #34d399;
}
input#reserve-seat-for-streamer:after {
    display: block;
    content: "no";
    position: absolute;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
    width: 2.25em;
    line-height: 2em;
    font-weight: bold;
    margin-left: 1.75em;
}
input#reserve-seat-for-streamer:checked:after {
    content: "yes";
    margin-left: 0;
}
.queue-walkthrough-reminder {
  position: fixed;
  top: 0;
  right: 0.5em;
  padding: 0.25em 0.75em;
  font-size: 1.25em;
  line-height: 1;
}


/* Randomize Animation */
.interested-queue.rand-1  .player-queue-card:nth-last-child(12n+2),
.interested-queue.rand-2  .player-queue-card:nth-child(9n-3),
.interested-queue.rand-3  .player-queue-card:nth-child(4n-3),
.interested-queue.rand-4  .player-queue-card:nth-child(3n+2),
.interested-queue.rand-5  .player-queue-card:nth-child(5n+4),
.interested-queue.rand-6  .player-queue-card:nth-child(6n-4),
.interested-queue.rand-7  .player-queue-card:nth-child(3n+3),
.interested-queue.rand-8  .player-queue-card:nth-child(4n+1),
.interested-queue.rand-9  .player-queue-card:nth-child(4n-2),
.interested-queue.rand-10 .player-queue-card:nth-child(8n-3),
.interested-queue.rand-11 .player-queue-card:nth-child(6n-2),
.interested-queue.rand-12 .player-queue-card:nth-child(4n+1),
.interested-queue.rand-13 .player-queue-card:nth-child(5n-3),
.interested-queue.rand-14 .player-queue-card:nth-last-child(11n+3) {
    background-color: hsla(0, 0%, 50%, 0.5) !important;
}
.card:not(.rand-0) button.dice {
    transition: all 0.15s;
    animation: tilt-shaking 0.15s infinite;
    pointer-events: none;
}
.card:not(.rand-0) button.dice img {
    transform: scale(2);
    border-radius: 5px;
    background-color: greenyellow;
    transition: all 0.15s;
}

@keyframes tilt-shaking {
    0% { transform: scale(2) rotate(0deg); }
    25% { transform: scale(2) rotate(5deg); }
    50% { transform: scale(2) rotate(0deg); }
    75% { transform: scale(2) rotate(-5deg); }
    100% { transform: scale(2) rotate(0deg); }
  }
