.player-queue-card .user-profile-image {
  height: 28px;
  width: 28px;
  font-size: 28px;
}

.player-queue-card .remove-user i {
  color: #f87171;
}

.player-queue-card-info {
  font-size: 12px!important;
}

.player-queue-card-info .alert {
  --bs-alert-padding-y: 0.25rem;
  --bs-alert-padding-x: 0.5rem;
  --bs-alert-margin-bottom: 0.5rem;
}
